<header class="page-header">
  <h1>About Us</h1>
</header>
<p class='description'>
  Welcom to the jungle! 
</p>
<p>
  Here you will find randomly price random looking objects.
</p>
<p>
  Are you worried about the human feet shoes? or how we got the single spy shoe? 
</p>
<p>
  well... 
</p>
<p>
  We dont ask those questions around here... and neither should you :)
</p>
